<html>

<head>



<title>ChatBot</title>
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="{% static 'js/script.js' %}"></script>
</head>
<body>
  <div class="chat-output" id="chat-output">
    <div class="bot-message">
       <img class="Stephanie" src="https://www.pngfind.com/pngs/m/123-1234348_twittericon-twitter-round-logo-png-transparent-background-png.png" alt="Stephanie" width="45" height="45"/> 
      <div class="message">Hi! I'm Stephanie and I'm a bot. How can I help you today?</div>
    </div>
  </div>

  <div class="chat-input">
    <form  id="user-input-form">
      {% csrf_token %}
      <textarea id="user-input" name="message" class="user-input" placeholder="Talk to the bot."></textarea>
    </form>
  </div>
  <script src="{% static 'js/script.js' %}">

  </script>
  <script>
    var getResponseUrl = "{% url 'get_response' %}";
    var csrfToken = "{{ csrf_token }}";
  </script>
</body>
</html>